body {
    background: #1565c0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-family: 'Helvetica', sans-serif;
}

.hide {
    display: none;
}

.timer-div {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: monospace;
}

.main-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label {
    font-size: 50px;
}

.control-button {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 100%;
    font-size: 50px;
    color: #1565c0;
    outline: none;
}

#play-button {
    padding-left: 11px;
}

#pause-button {
    padding-left: 6px;
}

.radio-div {
    text-align: left;
}

input[name=track] {
    font-size: 18px;
    margin: 7px;
}